[2015-02-18 11:40] robwithhair opened #1 "Incorrect environment variables"
In the help message when I run cert it gives me

[code]

But in the documentation it says use environment variables
CERT_USER and CERT_PASSWORD

The info is conflicting, perhaps both work?

[2015-02-18 11:53] #1 closed, assigned to nobody

[2015-02-18 11:55] robwithhair opened #2 "CERT_TEAM_ID doesn't accept team ID or Team Name"
Cert team ID doesn't actually accept a team ID.  I've tried with team ID and team name.

This is the same issue we had with produce I believe.  Team ID in html is not the same as the ID on the account page.  Basically need same fix for this module potentially.

[2015-02-18 12:15] robwithhair opened #3 "Private Keys are named Imported Private Key"
Don't know if there is a way to solve this but private keys are given the name Imported Private Key.  A more descriptive name like the one from the certificate would make it easier to find in keychain.

[2015-02-22 19:54] KrauseFx commented on #3
I don't think there is a name to set a name for the key. But searching in the Keychain still works if you use the `Certificates` tab instead.

![screenshot 2015-02-22 19 53 06](https://cloud.githubusercontent.com/assets/869950/6320069/832ab8a4-bacc-11e4-8e7c-3831ec206e8b.png)

Does that work for you?

[2015-02-22 19:55] KrauseFx commented on #2
I implemented a solution to easily set the team ID or team name for all actions: https://github.com/KrauseFx/fastlane#set-team-idname-for-all-tools

I guess that will solve this problem, right?

[2015-02-22 19:55] KrauseFx commented on #2
You'll be using the team name then.

[2015-02-27 23:02] dfranzi opened #5 "[Enhancement] Update Cert to support developer profiles."
Looking through the source, it appears that cert currently only works with distribution profiles. It'd be great to update this with a --development flag, similar to sigh, to support creating certificates for all development targets.

[2015-02-27 23:05] KrauseFx commented on #5
That's true, `cert` does not support development certificates, since my client only needed a way to automate App Store submissions.

I'll happily merge a pull request, if you find some time to extend `cert` :+1:

[2015-02-28 03:07] dfranzi commented on #5
Added a --development option in #6

[2015-02-28 10:03] KrauseFx commented on #5
Thanks again for extending the functionality of `cert` :+1: Really appreciated.

[2015-02-28 10:03] #5 closed

[2015-03-04 13:17] viktorbenei opened #7 "If you specify a wrong password cert won't request a new one"
Not even if you run `cert -u my@user.com` again, it'll try to use the previous, wrong password! Cert should only store accepted passwords in Keychain but even then if a user changes the account's password and then cert fails to sign in it should ask for the password again.

Trace:

    $ cert -u myuser@something.com
    INFO [2015-03-04 14:12:50.19]: Login into iOS Developer Center
    DEBUG [2015

[2015-03-04 13:21] viktorbenei commented on #7
Additional note: cert saves the password into Keychain with *deliver-* prefix, instead of *cert-* prefix (deliver.myuser@somedomain.com)

[2015-03-04 13:24] KrauseFx commented on #7
Every entry in the Keychain will use the `deliver` prefix. This is because I didn't know back then I would be so crazy and develop hundreds of other tools as well. I'll keep it with the `deliver` prefix.

And you're right, it shouldn't store wrong passwords :disappointed:

This issue should probably be moved to [fastlane_core](https://github.com/KrauseFx/fastlane_core)

[2015-03-08 23:59] #3 closed

[2015-03-09 00:35] robwithhair commented on #3
Yes, fine.  Low priority issue anyway.  Though naming would be nice in future versions.

[2015-03-09 10:13] lmirosevic opened #9 "Problem with latest version when used from fastlane"
Updating to the latest version 0.1.1 causes the following crash when used from fastlane.

The Fastfile is super simple:
[code]

Stack trace:
[code]

[2015-03-09 10:21] KrauseFx commented on #9
Should be fixed with https://github.com/KrauseFx/fastlane/commit/03c3459c93bac2a9e03c69910186050b69b0b550

[2015-03-09 10:23] #2 closed

[2015-03-09 10:29] #9 closed

[2015-03-09 10:59] robwithhair commented on #2
I thought you already fixed this one to use the team name from the appfile?  Do I need to make changes to my Fastfile?

[2015-03-11 19:38] dfranzi opened #10 "[Enhancement] Add certificate alias as cert variable"
Part of my current workflow requires the certificate alias. It'd be great to add another cert variable for storing this after either locating or installing the certificate.

I believe this could be achieved by using the java keytool to list the certificates and grepping for the current alias containing the CER_CERTIFICATE_ID that was just used.

e.g.
[code]

Running the above yields:
[code]

[2015-03-11 19:41] KrauseFx commented on #10
I have never worked with aliases, what are you using them for?

[2015-03-11 19:43] dfranzi commented on #10
Our project is using a third-party engine for cross-compilation that does not use XCode for the build process. The tools provided expect either a .p12 file, which would require manual steps and splitting any fastlane work into separate actions, or the alias of the certificate in the keychain to do the signing.

[2015-03-19 01:11] daniel-choi opened #11 "I get an error after downloading certificate.cer"
[code]

Both cert and cert --development gets this error.
Anyone know why?

[2015-03-19 13:44] KrauseFx commented on #11
Anything we should know about your setup? Are you administrator on your Mac? Do you use the standard Keychain? Has it worked before?

[2015-03-19 16:34] daniel-choi commented on #11
Yes I am the admin and it is a fresh install of OS X Yosemite. Standard keychain. I do see the file exist in `/tmp/cert/certificate.cer` but the program can't seemed to find it.

[2015-03-19 18:10] KrauseFx commented on #11
No, the download + installation went fine, `cert` just can't find it in your Keychain. Do you see the new code signing identity in the Keychain?

[2015-03-25 19:35] dfranzi opened #13 "Issue downloading/creating development certificates when user has 'Member' role"
When running cert through fastlane using a developer account that has the 'Member' role, cert errors out with a 404 error.

[code]

Changing the user's role to Admin fixes the issue. This occurred while attempting to run cert for a development certificate for a new user that did not previously have a development certificate created.

Is the cert process downloading all certificates to check agains

[2015-04-02 18:17] KrauseFx commented on #11
Any updates on this?

[2015-04-22 07:48] nAviram opened #15 "creating a cert with an existing signing request"
Hi!

in the cert options there is no option for creating a certificate with an existing <b><i>.certSigningRequest</b></i>

how is it done?

[2015-04-22 09:43] KrauseFx commented on #15
Not possible right now. Why do you want to do that?

[2015-04-22 10:18] nAviram commented on #15
its useful if you're using the same core code for different brands\branches...

[2015-04-27 07:36] lacostej opened #16 "--help doesn't work for me"
[code]

[2015-04-28 08:40] lacostej commented on #11
I got the same issue yesterday.

[code]

[2015-04-28 09:01] xareelee commented on #16
Same issue on Mac Mini as a Jenkins server, but not on my personal Mac.

[code]

[2015-04-28 20:09] coreyfloyd commented on #13
Just experienced this myself. changing to admin role also fixed it for me.

[2015-04-28 21:57] neil477 opened #17 "Could not create another certificate, reached the maximum number of available certificates"
I got this error while trying to use fastlane to deploy my app on my CI server (CircleCI). I'm confused, is there a maximum number of certificates apple allows you to create?

[2015-04-28 21:59] dfranzi commented on #17
For distribution certificates, three is the maximum allowed it seems.

[2015-04-29 17:57] neil477 commented on #17
ok thanks dfranzi! closing this.

[2015-04-29 17:57] #17 closed

[2015-05-03 12:15] KrauseFx commented on #17
@neil477 the problem probably is that CircleCI will create a fresh machine for every run, so you run out of slots. You'll have to store the certificate + private key somewhere and import it, instead of running `cert`. If you have your own machine, you can use `cert` :+1:

[2015-05-03 12:16] KrauseFx commented on #17
Also, thanks @dfranzi for replying :+1:

[2015-05-03 12:18] KrauseFx commented on #13
I think `cert` should show a more meaningful error message when this occurs. Thanks for reporting!

[2015-05-03 13:16] KrauseFx commented on #16
Sorry, I'm working on a fix and will release a new version today! :+1:

[2015-05-03 13:16] #16 closed

[2015-05-03 21:00] dfranzi commented on #13
Is the issue here due to members requiring external approval for signing requests? Ideally, it'd be great to support member roles when running cert to download existing, approved certificates. Requiring that everyone who wants to download certificates through cert be an admin in iTC seems a bit dangerous.

 A more clear error message will definitely help in the meantime, though

[2015-05-05 22:51] yannrouillard commented on #13
I ran into the same problem and I proposed in #18  a tiny fix that solved the issue for me.

[2015-05-07 14:05] biddster opened #19 "403 forbidden downloading phantomjs"
I've installed the gem for cert and upon execution, I'm unable to download phantomjs.
[code]

[2015-05-11 10:36] biddster commented on #19
Tried again today, all working fine.

[2015-05-11 10:36] #19 closed

[2015-06-01 11:06] MarkMolina commented on #11
Same issue here. Als worth noting that cert can't seem to find existing certificates and always generates a new one.

[13:03:52]: Couldn't find an existing certificate... creating a new one
[13:03:52]: Creating a new code signing certificate
[13:03:54]: Creating a signing certificate for you.

...

Successfully downloaded latest .cer file to '/tmp/cert/certificate.cer' (5UL42BMET6)
1 certificate i

[2015-06-03 21:14] otaran opened #21 "Member can't download generated development certificate"
Hi

When I try to generate and get development certificate as a member of Enterprise Program, I get following error:

[code]

And following image is shown:

![developercertificateconfirmation](https://cloud.githubusercontent.com/assets/1595470/7971548/53d19a0a-09fa-11e5-81af-a52706f25ae2.png)

Looks like `DeveloperCenter` searches for some blue button (maybe "Download"?), but can't find it.

[2015-06-04 01:39] KrauseFx commented on #21
`cert` doesn't support Development profiles for Enterprise accounts as far as I know, sorry.

[2015-07-08 08:34] mRs- opened #23 "cert is not creating the private key"
I tried to create a distribution certificate via cert on a brand new Apple Developer Account.

cert created the distribution file but the private key is missing. I have to do it the "normal" way now :cry:

[2015-07-08 08:46] KrauseFx commented on #23
`cert` wasn't yet updated to use `spaceship` and as far as I know, the private key will be stored in the `/tmp` directory, which doesn't really make sense.

Haven't found the time to work on `cert` yet, sorry.

[2015-07-08 10:35] KrauseFx commented on #23
Okay, here we go: https://github.com/fastlane/cert/pull/24

[2015-07-08 10:39] KrauseFx commented on #23
I pushed a new beta version `0.3.0.beta1`, please upgrade using
[code]

One bigger change is the default output directory now being the current working directory. You can change that by specifying your own directory using the `-o` option.

Let me know if that fixes your issue.

[2015-07-08 10:40] KrauseFx commented on #21
I just took a look, right now `cert` doesn't support development profiles on enterprise accounts.

[2015-07-08 10:41] KrauseFx commented on #13
I pushed a new beta version `0.3.0.beta1`, please upgrade using
[code]

One bigger change is the default output directory now being the current working directory. You can change that by specifying your own directory using the `-o` option.

Could you please give it a try, as I might have introduced this issue again.

[2015-07-08 10:41] KrauseFx commented on #11
I pushed a new beta version `0.3.0.beta1`, please upgrade using
[code]

One bigger change is the default output directory now being the current working directory. You can change that by specifying your own directory using the `-o` option.

Let me know if that fixes your issue.

[2015-07-08 10:41] KrauseFx commented on #7
Let's move further discussions to https://github.com/fastlane/spaceship/issues/62

[2015-07-08 10:41] #7 closed

[2015-07-08 11:31] mRs- commented on #23
I will give you feedback as soon we as we got a new customer with a brand new account. It's too late now :(

[2015-07-08 11:54] KrauseFx commented on #23
Okay, I'll close this issue for now :+1:

[2015-07-08 11:54] #23 closed

[2015-07-11 11:15] mjjimenez opened #25 "Upload CSR Error : Couldn't find 'input[name='upload']' after waiting for quite some time"
I'm running into this error right now when creating a distribution certificate. This is for my personal developer account. It seems like it's looking for an upload button in the wrong page.

![screen shot 2015-07-11 at 7 07 39 pm](https://cloud.githubusercontent.com/assets/4151269/8633562/c4e09902-2800-11e5-891f-03854eb2bf00.png)

![error1436612125](https://cloud.githubusercontent.com/assets/41512

[2015-07-11 11:55] KrauseFx commented on #25
Could you please update to the latest beta version using `sudo gem update --pre`?

[2015-07-11 13:49] mjjimenez commented on #25
Worked perfectly. Thanks!

[2015-07-11 13:49] #25 closed

[2015-07-11 14:41] KrauseFx commented on #25
Great to hear @mjjimenez :+1:

[2015-07-20 20:49] alexspark commented on #21
Came across this issue myself when trying to run a jenkins job to build and sign the ipa (for Enterprise).
Even though `cert` and `sigh` correctly download their respective distribution keys onto the local machine, I've run into code sign issues where Cocoapods cannot sign the frameworks without a development code certificate. One would get errors like the following during the `ipa` action:

[code

[2015-07-23 08:52] false opened #26 "--development and existing distribution certificate"
Hello,

There is an issue with the -d option when an existing distribution certificate is installed.
Cert finds the local distribution certificate, and does not create a development certificate.

Also, after the removal of the distribution certificate (in order to create the dev certificate through Cert), this error occurs :
[10:47:43]: Starting login
[10:47:46]: Successfully logged in
[10:47:54]:

[2015-07-23 12:11] KrauseFx commented on #26
Thanks for reporting this, I'll take a closer look at this issue over the next few days :+1:

[2015-07-24 09:10] kokomo88 opened #27 "unable to load certificate error message"
Hey!

When i try to use cert i get the following error message.  when i try to run "cert --development", i get the same error.

[code]

[2015-07-24 09:14] KrauseFx commented on #27
It looks like that's the same issue as https://github.com/KrauseFx/sigh/issues/141

[2015-07-24 16:15] KrauseFx commented on #26
Are you sure you have the private key installed on the local machine? If that's not the case, `cert` will automatically create a new one.

[2015-07-24 20:28] false commented on #26
I did not have an existing development certificate, so no private key installed on the local machine.

My aim was indeed to create a new dev certificate through Cert.

[2015-07-24 20:59] KrauseFx commented on #26
So, when all your spots (2) are already taken, there is not much `cert` can do. What behaviour would you expect? I guess I could make the error message clearerr.

[2015-07-25 06:33] false commented on #26
I am not sure of what you mean by "spots (2)". Are you talking about the distribution certificates limit?

My aim was not to create a distribution certificate but a development one ; And it was possible as I created one manually through safari. There was no pending one neither.

[2015-07-25 13:29] KrauseFx commented on #26
You can manually revoke old, unneeded certificates to make new for new ones.

[2015-07-27 09:56] false commented on #26
Uhm, I think I didn't make my issue clear.
It looks like it's not possible to create a development profile through cert (I use the -d option). Even with no old certificate, it never creates a development certificate.

It is on a In-House licence by the way ; that might be the cause of the issue.

[2015-07-27 20:30] KrauseFx commented on #26
Yes, that's because of the enterprise account. I'll try to look at this over the next few days.

[2015-08-03 08:56] besi opened #28 "Within Fastlane: Cert asks for the team id ignoring the Appfile"
My `Appfile` contains a `team_name` as well as the `team_id` (uncommented).
In my Fastfile I run `cert()` before running `sigh(adhoc: true)`.

I would expect, that I don't have to enter the Team in the prompt, however, when I run `fastlane beta`, I still get asked to specify the team:

[code]

I plan to run *fastlane* soon on my CI environment, so a prompt like this won't be possible so I am wonde

[2015-08-03 11:09] KrauseFx commented on #28
Could you please share your `Appfile`? Are you using the `for_platform` or `for_lane` block?

You're right, `cert` shouldn't ask you for the team.

[2015-08-03 13:16] besi commented on #28
My Appfile:

[code]

This is how I call the `cert()`:

[code]

[2015-08-03 17:41] jonsajdak opened #29 "Cannot create or retrieve development cert on new apple Enterprise team"
cert has worked on all my teams so far as expected, creating or retrieving distribution or development certs depending on if the "-d" flag is used.

I have a new apple Enterprise team I was invited to giving problems.  I'm not sure why it is unique, because it is a new account or an enterprise account.  It already had a single Distribution cert present, by default or because a team member created

[2015-08-03 20:30] KrauseFx commented on #29
@jonsajdak That's right, `cert` currently only supports Enterprise profiles:

[code]

Is it okay to support development and enterprise profiles for Enterprise accounts?

[2015-08-10 22:34] chappejw opened #30 "`api_key': undefined method `length' for nil:NilClass"
I am unable to run cert standalone. All my gem versions are up to date. I receive this error... Am I missing something?

:~$ cert -u "user@domain.com"
[15:14:07]: Starting login
/Library/Ruby/Gems/2.0.0/gems/spaceship-0.4.0/lib/spaceship/portal/portal_client.rb:25:in `api_key': undefined method `length' for nil:NilClass (NoMethodError)
	from /Library/Ruby/Gems/2.0.0/gems/spaceship-0.4.0/lib/spaces

[2015-08-11 10:16] KrauseFx commented on #30
That looks like an internet connection time out. Either your connection or Apple's web services. Could you try again, maybe using a different internet connection? You probably also have to reset the cache
[code]

[2015-08-13 10:58] xareelee commented on #30
I got a similar issue with **undefined method `length' for nil:NilClass**:

[code]
[code]

[2015-08-13 11:36] KrauseFx commented on #30
Sorry, this really is just an internet connection issue. I'll push a new version of `spaceship` which will show a clearer error message when this happens.

[2015-08-13 11:37] #30 closed

[2015-08-14 14:08] fatuhoku opened #31 "README outdated: sigh :force"
I get the error:

[code]

[2015-08-14 14:55] #31 closed

[2015-08-14 14:55] KrauseFx commented on #31
Thanks :+1:

[2015-08-21 06:24] nemoeslovo opened #32 "Undefined method `strip' for nil:NilClass"
I use to set up username field in cert action and DELIVER_PASSWORD as env variables in Jenkins machine and everything worked perfectly, but with one of the latest update I start getting following error:

[code]

[2015-08-21 06:28] nemoeslovo commented on #32
even when try to use CLI for cert. I think these issues are related

[code]

[2015-08-25 08:12] nemoeslovo commented on #32
finally I fixed it after put the apple_id in Appfile, everything starts working, but I didn't figured out why. As far as I get from the interrupted stack trace

[code]

we are entering to the password manager at the verify options step and  the thing is that password manager has a priority of explicit parameter and DELIVER_USER env variable

[code]

which I specified correctly before. So I still b

[2015-08-25 12:46] KrauseFx commented on #32
Thanks for the information and reporting this issue. This is something I *really* want to improve over the next few weeks. This part of `fastlane` will be rewritten.

Did you find a temporary solution that works for you?

[2015-08-26 04:06] nemoeslovo commented on #32
yes, it was enough to put correct `apple_id` or remove it from the `Appfile`. thanks a lot!

[2015-08-31 16:59] doapp-nick opened #33 "Enabling --trace creates a crash"
It looks like a recent change squelches errors unless --trace is added based on the help text.  Unfortunately, adding --trace to cert version 0.3.1 is causing a crash with the following stack trace:

[code]

[2015-08-31 17:38] besi commented on #28
It looks like I can get around this by using:

    cert(team_id: 'YYYYYYY')

[2015-09-01 01:55] KrauseFx commented on #33
Thanks for reporting this, I fixed it, please update using `sudo gem update fastlane_core` :rocket:

[2015-09-01 01:55] #33 closed

[2015-09-02 04:54] doapp-nick opened #34 "RSA Private Key given PKCS12 File Extension"
I spent a few hours debugging an issue related to the generation of new signing identities using cert.  Specifically, after a successful creation 3 new files are generated.
- CertCertificateSigningRequest.certSigningRequest
- XXXXXXXXX.cer
- private_key.p12

The private_key.p12 does not appear to be a p12 (PKCS12) but a RSA Private Key.  PKCS12, as a packaging format, when exported from *Keychain

[2015-09-04 05:36] cwhenderson20 commented on #34
:+1: for this. Generating a valid .p12 would be helpful as it keeps the certificate and private key bundled. By convention, though, .p12 files require a non-blank passphrase, which might be an issue for those who don't want to specify it on import/export.

[2015-10-01 12:50] tskulbru commented on #28
I have the same problem with both cert, sigh and pem. similar appfile to the one above

[2015-10-01 17:31] KrauseFx commented on #28
@tskulbru are you using the latest version?

[2015-10-05 19:18] marcioviegas commented on #11
I'm facing this error right now, with version 0.3.3
Anyone has the solution for that?

[2015-10-08 03:54] RocketPop commented on #34
I think this is how you can whip up a p12 from a pem
`openssl pkcs12 -export -in certfilename.pem -out certfilename.p12 -passout pass:xxxxxxx`

Where you need to provide a passphrase instead of "xxxx..."  Also - please double check this snippet before actually using it :)

[2015-10-08 21:02] swl367 opened #35 "Error: account_manager.rb:61:in `ask_for_login': uninitialized constant"
I'm trying to run cert after installing the latest version via sudo gem install cert (v0.3.3), but whenever I log in with any of my 5 accounts, I'm seeing this error (with the correct password). I'm on Yosemite and using xcode 7.

Kevin-MBP:~ kevin$ cert
To not be asked about this value, you can specify it using 'username'
Your Apple ID Username: "xxx@xxx.xxx"

+-------------+---------------+
|

[2015-10-08 21:09] KrauseFx commented on #35
Sorry about that, please update using `sudo gem update credentials_manager`

[2015-10-08 21:13] swl367 commented on #35
@KrauseFx thanks, that worked. Closing.

[2015-10-08 21:13] #35 closed

[2015-10-08 21:17] moritzh opened #36 "Could not find the newly generated certificate installed (RuntimeError) if WWDR Intermediate is missing"
Title says it all, just noticed that cert fails if the WWDR intermediate certificate is not installed. This basically leads to security/Mac OS determining that the just created identity is not signed by a known authority, ultimately making cert fail.

    [23:12:42]: Couldn't find an existing certificate... creating a new one
    1 key imported.
    1 certificate imported.
    [23:12:44]: Successf

[2015-10-09 02:21] KrauseFx commented on #36
Same as https://github.com/KrauseFx/sigh/issues/178, right? :+1:

[2015-10-09 02:22] KrauseFx commented on #36
Nice catch, thanks for letting me know.

[2015-10-12 19:10] triage commented on #28
@KrauseFx in case this helps, I'm having this same issue with:
sigh 0.10.9
fastlane 1.32.1
pretty much a vanilla appfile:
[code]
and fastfile:
[code]

btw thank you so much for the killer suite of tools that is fastlane :+1:

[2015-10-13 08:51] aloifolia commented on #26
Are there any updates on this issue?

[2015-10-13 08:57] aloifolia opened #37 "Can cert just download the existing certificates?"
I am using fastlane on a new computer onto which I have not yet downloaded the existing 3 distribution certificates. Now I could do that by hand. However, I would rather have fastlane do the job for me, so that I can manage my certificates via the Member Center and just use the toolchain to achieve nice builds.

Is this possible? From what I have read so far I would guess that cert can only create

[2015-10-13 20:30] KrauseFx commented on #37
No it's not possible, since the private is stored only on your local computer. There is no way to fetch the private key from the Developer Portal, only the certificate.

[2015-10-13 20:46] #36 closed

[2015-10-14 01:30] KrauseFx commented on #37
I'll close this issue for now, feel free to re-open if you have any additional questions.

[2015-10-14 01:30] #37 closed

[2015-10-14 17:27] natanrolnik commented on #17
@KrauseFx I tried doing as you suggested, but without success.
I'm using the import_certificates action but having problems with the keychain.
Would you mind explaining a little more or pointing the direction with a bit more details?

Thanks!

[2015-10-15 07:20] marthinfreij commented on #28
I'm having this issue as well

Appfile

[code]

Fastfile

[code]

Console output

[code]

Passing `team_id` to `cert` works fine

[2015-10-15 08:37] natanrolnik commented on #17
Hooray! Succeeded after trying a few times.
I'll try to wrap up in a detailed blog post and link it here.

[2015-10-15 16:35] KrauseFx commented on #28
@marthinfreij Could you try adding this to your `Fastfile` before calling `cert`:

[code]

[2015-10-15 16:51] KrauseFx commented on #17
@natanrolnik Oh cool, let me know once the blog article is live :+1:

[2015-10-15 17:14] marthinfreij commented on #28
@KrauseFx yep, then it works

[2015-10-21 09:34] Retolinho opened #38 "Unable to download Provisioning Profile"
Since I updated all fastlane tools and with that cert to version 1.0.0 I am not able to download or fetch Provisioning Profiles from the Member Center. Cert gets an html answer saying 302 - found, but it stops with an error. My Fastfile looks like this:
[code]

Running fastlane beta gives me the following output:
[code]

This did work before updating fastlane (using delivery instead of pilot, ever

[2015-10-21 09:48] plaetzchen opened #39 "Crash 3c85c1f6662e251634e0f52738024c07: cert does not handle 302 response from Apple Server"
Sometimes Apple's System seems to send an 302 when cert logs into the backend. Cert crashes if this happens but it should just try to follow the redirect URL.

[2015-10-21 12:16] mortenholmgaard opened #40 "Find correct development certificate"
We of cause multiple developers on our company developer account, but when I run

(I have set ENV["CERT_USERNAME"] and team_id before as well)

I get this:

    say 'Couldn't download provisioning profile, got this instead: <html>
    <head><title>302 Found</title></head>
    <body bgcolor="white">
    <center><h1>302 Found</h1></center>
    <hr><center>nginx</center>
    </body>
    </html>
    '

[2015-10-22 07:32] mortenholmgaard commented on #40
Strange - today it seems to find the Certificate every time...

[2015-10-22 19:30] fatuhoku opened #41 "Error when contacting https://developerservices2.apple.com/services/QH65B2/listTeams.action "Your session has expired. Please log in.""
My fastlane set up has always worked. But after today, it's failing on the `cert` step. The full error looks like this:

[code]

I tried looking everywhere for this error but it doesn't make any sense for me. What do I have to do? What does this mean?

[2015-10-22 19:31] truth3 commented on #41
@fatuhoku Some others are having trouble with this as well (reported below) and I confirmed its failing on all actions that access the dev portal :(

https://github.com/KrauseFx/sigh/issues/188

[2015-10-22 19:43] fatuhoku commented on #41
@truth3 Thanks for the note — glad I'm not alone in all of this! That Apple endpoint seems to be displaying a very misleading message indeed.

Time to make some tea and try releasing tomorrow. lol

[2015-10-23 09:04] #40 closed

[2015-10-24 17:47] vCrespoP commented on #15
+1

It was possible before, It was handy :_

cert(development: true,
	 username: "-----",
      signing_request_path: "----.certSigningRequest")

[2015-10-26 10:33] natanrolnik commented on #17
There we go! My article that includes the Keychain/certificate handling in a Continuous Integration service. This may help people who reach this issue: http://natanrolnik.me/2015/10/21/introduction-to-fastlane-and-integrating-it-with-circleci-to-deploy-beta-with-crashlytics-fabric/

[2015-10-26 11:30] ben-lings-tessella commented on #15
We used the `signing_request_path` option to re-create the signing certificate with the same private key as before. This meant we didn't have to worry about manually re-creating it when it expired, and we didn't have to re-distribute a new private key out to all the build machines from our CI server.

[2015-10-26 17:41] KrauseFx commented on #39
Should be fixed with https://github.com/fastlane/spaceship/pull/132/files, will be in the next release :+1:

[2015-10-26 17:41] #39 closed

[2015-10-26 17:41] KrauseFx commented on #38
This is an Apple server error. I'm trying to find a way around it by automatically retrying.

[2015-10-26 17:46] plaetzchen commented on #39
Great, thanks!

[2015-10-30 11:15] jcampbell05 opened #44 "Cert doesn't prevent codesign from prompting to be allowed to sign."
When importing a cert that is just created then the system always prompts to ask if it can use it. I am currently working on a simple fix.

[2015-10-30 11:16] jcampbell05 opened #45 "Cert doesn't import certs previously requested from the output path if the P!2 is there."
I am working on a version that will allow cert to scan the output_path for certificates and P12s which were previously requested by cert and import them.

[2015-11-02 11:52] nAviram commented on #15
so it use to work before and now not? :(
I tried to use this option, but I get:
invalid option: -signing_request_path (OptionParser::InvalidOption)

[2015-11-03 22:50] lkraider opened #48 "Option to specify existing Private Key"
Add option to specify that cert uses an existing private key in the keychain.

This allows to use lifecycle managed private keys without incurring in generating and having to eventually dispose of many auto-generated keys at different times.

Also, would allow users to pick their named private keys from the keychain instead of ending with the "Imported Private Key"s.

[2015-11-07 22:04] jcampbell05 commented on #45
@KrauseFx  Once my latest PR is in I'll open one with this functionality in :)

[2015-11-08 21:36] #44 closed

[2015-11-09 10:15] jcampbell05 commented on #48
I'm pretty sure cert already uses existing certificates in the keychain if the P12 is there already. Can you confirm @KrauseFx .

[2015-11-09 16:49] lkraider commented on #48
It didn't for me when I tried, that's why I opened this issue. Unless there is an option for it?

[2015-11-09 17:04] vCrespoP commented on #15
Why has this disappeared? Any news on this?

[2015-11-09 17:17] jcampbell05 commented on #48
It should in theory just do that without an option.

[2015-11-11 11:05] vorobievalex commented on #32
Similar error appeared for me ones form 10 builds. Other builds were successful. My appfiles contain empty or no ids.
Even it seems to be in a different part of app, hope it will help during rework:

/Users/Shared/Jenkins/.gem/gems/highline-1.7.8/lib/highline/question.rb:413:in `remove_whitespace': undefined method `strip' for nil:NilClass (NoMethodError)
	from /Users/Shared/Jenkins/.gem/gems/high

[2015-11-11 13:16] KrauseFx commented on #32
@vorobievalex it doesn't look like your error is related. Please share your full configuration, including the `Appfile` and the output when running `fastlane`.

[2015-11-11 16:53] retsohuang opened #51 "Couldn't creating a new certificate"
[code]

[2015-11-11 18:16] siemensikkema commented on #51
I'm having the same problem. I managed to get it to work by executing:
`cert -k ~/Library/Keychains/login.keychain`
Alternatively it seems you could use the `CERT_KEYCHAIN_PATH` environment variable.

[2015-11-12 06:29] retsohuang commented on #51
@siemensikkema It works, but am I missing something so I need additional parameter? I've same problem at fastlane/sigh too.

[2015-11-12 08:39] siemensikkema commented on #51
I'm not sure what's the reason. I'm also just figuring this stuff out as I go along! :)

[2015-11-12 20:18] Sega-Zero commented on #17
Thank you, @natanrolnik! Used your hint for my Travis-CI builds. I've noticed that importing a private p12 keys (both development and distribution) in `before_all` allows using `cert`(without `force:true` of course) and `sigh`, without checking for `is_ci`.

@KrauseFx could this be added to the documentation?

[2015-11-12 22:58] natanrolnik commented on #17
You're welcome @Sega-Zero ! Glad it helped you.

[2015-11-16 13:55] SpacyRicochet commented on #51
I can confirm this as well. It appears that it doesn't specify a proper default keychain directory when used vanilla. @siemensikkema's method worked.

[2015-11-18 18:14] GlaucoNeves commented on #51
Same problem here.

[2015-11-30 10:08] sylvainlaurent commented on #26
I think I have the same problem : when I use a in-house account, cert does not correctly select the development certificate when I pass --development.
If I use a App Store account (non in-house), then it works correctly...

[2015-11-30 10:14] sylvainlaurent commented on #26
apparently this is is the same problem as #21 and #29 ...

[2015-12-03 07:39] hankbao commented on #13
It seems that a developer with member role can download his own development cert now, at least in Safari. But cert still has issue with member role currently. Here's the output:

[code]

[2015-12-11 15:42] fatuhoku commented on #41
Not an issue any more...

[2015-12-11 15:42] #41 closed

[2015-12-13 23:42] KrauseFx commented on #51
The default value is `"#{Dir.home}/Library/Keychains/login.keychain"`, do you run `cert` on some kind of CI which doesn't set the `HOME` environment variable?

[2015-12-13 23:43] KrauseFx commented on #48
The new recommended way to use `cert` and `sigh` is now using [match](https://github.com/fastlane/match)

[2015-12-13 23:43] KrauseFx commented on #48
It is not planned to add this option to `cert`, sorry.

[2015-12-13 23:43] #48 closed

[2015-12-13 23:44] KrauseFx commented on #15
This option disappeared when we made the switch to `spaceship`. It is not planned to add this functionality to `cert` right now. Instead you should use the new [match](https://github.com/fastlane/match) tool to manage your certificates :+1:

[2015-12-13 23:44] #15 closed

[2015-12-13 23:45] KrauseFx commented on #15
As always, feel free to submit a pull request adding this functionality

[2015-12-13 23:45] KrauseFx commented on #45
Thanks for the pull request @jcampbell05 :+1:

[2015-12-13 23:45] #45 closed

[2015-12-14 11:15] siemensikkema commented on #51
I have reverted my workaround (setting the `"CERT_KEYCHAIN_PATH"` in `.env`) and tested again. `cert` works fine now! I don't know what did the trick. I have updated fastlane and my shell (zsh) since. The `HOME` environment variable is set correctly.

[2015-12-15 13:17] vorobievalex commented on #32
This did not reproduce for me with newer versions.

[2015-12-15 21:42] falcon4ever commented on #26
Did you find any workaround for this problem?

[2015-12-18 10:13] gianluca-openreply commented on #29
@KrauseFx Why is `cert_type` overridden with the `in_house` type even when the user specifies the `-d` flag?

[2015-12-31 11:59] dalu93 opened #54 "Force to download a certificate with fastlane"
Hello,
I'm actually using `cert && sigh` with `fastlane`. This is my code into a `private_lane`

    if options[:scheme] != default_production_scheme
      cert(
        development: true,
        output_path: "./fastlane/certificates"
      )
    else
      cert(
        output_path: "./fastlane/certificates"
      )
    end

    sigh(
      output_path: './fastlane/profiles'
    )

The problem i

[2015-12-31 13:48] dalu93 commented on #54
I found a solution using only `sigh`, without `cert`.

    sigh(
        cert_id: "CERTIFICATE_ID",
        ...
    )

[2016-01-01 02:47] KrauseFx commented on #13
Fixed https://github.com/fastlane/cert/pull/55, will be in the next release :+1:

[2016-01-01 02:47] #13 closed

[2016-01-02 11:35] KrauseFx commented on #54
The best solution is to use [match](https://github.com/fastlane/match) since it takes care of all the heavy lifting for you :rocket:

[2016-01-02 11:37] dalu93 commented on #54
I agree with that, but the owner of the certs doesn't want!

[2016-01-03 16:44] shoshRose commented on #51
hey, i am running from a ci machine. what changes do i need to make?

[2016-01-04 02:23] KrauseFx commented on #51
@shoshRose You have to set the environment variable `CERT_KEYCHAIN_PATH`

[2016-01-04 06:02] raylillywhite commented on #29
Development certs on enterprise accounts are valid, so the development flag should take precedence. We use development certs and provisioning profiles on our enterprise account so that we can use the development APNs environment without managing multiple APNs keys and environments for a single bundle ID.

So our setup is:
Our `Dev` environment — Development cert, provisioning profile, and APNs cer

[2016-01-04 16:39] shoshRose commented on #51
@KrauseFx thnx

[2016-01-05 05:45] #51 closed

[2016-01-08 11:56] #54 closed

[2016-01-14 11:36] Zasuk opened #58 "undefined method `message'"
Hi, i get this error when i use cert in bamboo. if i run from a normal shell everything runs without problems. Any ideia?

[code]

[2016-01-14 11:59] Zasuk commented on #58
found the problem. Bamboo can't be started using LaunchDaemons

[2016-01-14 12:00] #58 closed

[2016-01-18 12:24] marcomorain commented on #34
:+1:

[2016-01-26 19:09] zats opened #62 "Default behavior with force flag set to false?"
While running `cert` on a new machine (I forgot to provision it with certificate) I noticed that that `cert` created a new certificate with `force` flag set to `false`.
Is there a way to tell `cert` to fail unless certificate + matching private key exists (locally or remotely) instead of creating a new certificate for my private key?
Thanks!

[2016-01-27 01:50] KrauseFx commented on #62
No, currently `cert` is designed to prepare a key + certificate at the end of its run. It is recommended to use [match](https://github.com/fastlane/match) though.

[2016-01-27 01:59] zats commented on #62
I actually thought about using chef <https://www.chef.io> instead: we are
using Enterprise certificates for in house distribution. And, as it pointed
out in the match readme, unlike regular certificates it might bring more
problems if compromised. Hence I wanted to use knife
<https://docs.chef.io/knife.html> to extract certificate shared among all
developers.

On Tue, Jan 26, 2016 at 5:50 PM Felix

[2016-01-27 21:39] #28 closed

[2016-02-11 08:31] s0mmer opened #65 "Unable to specify a specific certificate to use"
I have an enterprise account with 2 distribution certificates. Using `cert` and `sigh` I'm running into some issues where Fastlane tries to use the wrong certificate of the 2 created.

Particularly if you have 1 certificate installed on your computer, but you want to use the other one from the dev. portal, then `cert` will just automatically select the one you have installed. The only parameter on

[2016-02-15 17:19] aleufms opened #66 "Could not find the newly generated certificate installed"
Anyone is having this issue?:

[code]

[2016-02-15 18:22] aleufms commented on #66
Found the solution. The WWDRCA expired yesterday. Solution here:
https://stackoverflow.com/questions/35390072/this-certificate-has-an-invalid-issuer-apple-push-services

[2016-02-15 19:48] KrauseFx commented on #66
https://github.com/fastlane/gym/issues/100#issuecomment-184335220

[2016-02-15 21:38] pieisgood commented on #66
Had this issue, installing new WWDRCA a cert fixed it immediately.

[2016-02-16 01:35] ccwasden opened #67 "Could not find the newly generated certificate installed"
This may not be related to your tool, but I cant do anything with certs now since I started using it. I run it, and it says "Could not find the newly generated certificate installed" even though it finds a cached one. I try to manually import the .p12 and it says its already there. I am in some kind of a stalemate if you could give me some advice what to at least try?

thanks.

<img width="952" al

[2016-02-16 01:37] #67 closed

[2016-02-16 12:47] greenmood commented on #11
Also don't forget to check your Apple's WWDR certificate in keychain, it can be expired, causing the problem. If so, just download new certificate from https://www.apple.com/certificateauthority/

[2016-02-16 16:11] KrauseFx commented on #11
I can reproduce this error and assume it's because of the WWDR certificate

[2016-02-16 16:17] #66 closed

[2016-02-16 16:32] KrauseFx commented on #11
I just pushed a fix for this https://github.com/fastlane/fastlane_core/commit/d096711d1d880bc6469244ed55fab53d7a4be8a4

[2016-02-16 16:32] #11 closed

[2016-02-17 17:48] shoshRose commented on #51
started getting this again:
Certificate XXX (YYY, Inc.) can't be found on your local computer
i have the keychain path set

[2016-02-17 18:54] vpolouchkine commented on #51
shoshRose Can you please open a new issue with the details of your setup?

[2016-02-18 08:54] shoshRose opened #68 "Certificate not found"
started getting this again:
Certificate XXX (YYY, Inc.) can't be found on your local computer
i have the keychain path set.
Where does fastlane actually look for certificates?  (~/Library/Keychains/login.keychain?)

[2016-02-18 09:07] shoshRose commented on #68
i now skipped 'cert' step and continued with 'sigh'  and i get the message: "Found more than one code signing identity. Choosing the first one."
why can't cert find them but sigh can?

[2016-02-18 10:58] gregk8288 commented on #68
I'm having the same issue:

[12:54:47]: Successfully logged in
[12:54:52]: Certificate XXX (YYY (PTY) LTD) can't be found on your local computer
[12:54:55]: $ security import .../4J5FFJB2PF.p12 -k '.../Keychains/login.keychain' -T /usr/bin/codesign -T /usr/bin/security
security: SecKeychainItemImport: The specified item already exists in the keychain.
[12:54:55]: $ security import .../4J5FFJB2PF.c

[2016-02-18 14:34] vpolouchkine commented on #68
@shoshRose Can you please share your setup? Versions used, full log, Fastfile, etc. Thanks!

[2016-02-18 14:40] shoshRose commented on #68
version 1.3.0
log:
[10:38:51]: ------------------
[10:38:51]: --- Step: cert ---
[10:38:51]: ------------------

+---------------+------------------------------------+
|               Summary for cert 1.3.0               |
+---------------+------------------------------------+
| development   | false                              |
| force         | false                              |
| username

[2016-02-18 14:57] vpolouchkine commented on #68
Looks like you're missing private keys for these certificates. To fix this, you can revoke these certificates and regenerate using `cert`. As an alternative, you can use `match` to avoid these kind of issues.

[2016-02-18 15:04] shoshRose commented on #68
so how come 'sigh' can sign with these certificates?
also, do you know where the default location is for them?

[2016-02-18 15:26] vpolouchkine commented on #68
`sigh` can find the certificates, but will not actually be able to use them, eg. that error message should be improved. The default location is the current directory.

[2016-02-24 04:10] mfurtak commented on #21
Hi @otaran - sorry for the long silence on this!

This appears to be addressed by #56. Can you confirm whether this is working for you now? Thanks! :+1:

[2016-02-24 04:12] mfurtak commented on #26
Hi @otaran - apologies for the long silence here.

This appears to be addressed by #56. Can you confirm whether this is working for you now? Thanks! :+1:

[2016-02-24 04:13] mfurtak commented on #29
Hi @jonsajdak - sorry to have this pending for so long.

This appears to be addressed by #56. Can you confirm whether this is working for you now? Thanks! :+1:

[2016-02-24 04:18] mfurtak commented on #27
Based on the link from @KrauseFx this appears to likely be caused by invalid contents in that `.cer` file due to saving returned HTML error text.

@kokomo88 - it has been a long time (apologies!), is this still an issue for you?

[2016-02-24 17:02] otaran commented on #21
Hi @mfurtak, no worries. I checked it and it works (not perfectly though):

[code]

The issue I've noticed is that private key gets imported with name `Imported Private Key` instead of `iOS Developer: Oleksii Taran ($TEAM)` like Xcode does. Maybe this should be reported as new issue because original issue is obviously fixed.

Thank you, @mfurtak!

[2016-02-24 17:07] otaran commented on #26
@false, can you confirm this is working for you now? /cc @mfurtak

[2016-02-24 19:40] mfurtak commented on #21
Thanks for checking, and the excellent log info :+1:

[2016-02-24 19:40] #21 closed

[2016-02-24 19:44] mfurtak commented on #26
😨 Wow, that's some bad copy-pasta by me up there.

[2016-02-26 21:37] mfurtak commented on #29
I'll close this for now, but please feel free to continue the conversation, and we can reopen as needed!

[2016-02-26 21:37] #29 closed

[2016-02-26 21:39] mfurtak commented on #27
I'll close this for now, but please feel free to continue the conversation, and we can reopen as needed!

[2016-02-26 21:39] #27 closed

[2016-02-26 21:41] mfurtak commented on #26
I'll close this for now, but please feel free to continue the conversation, and we can reopen as needed! :+1:

[2016-02-26 21:41] #26 closed

[2016-03-03 21:24] gfpacheco opened #72 "Couldn't download certificate, got this instead: HTTP 405 Method Not Allowed"
[18:16:46]: ------------------
    [18:16:46]: --- Step: cert ---
    [18:16:46]: ------------------

    +---------------+--------------------------------------------------------+
    |                         Summary for cert 1.3.0                         |
    +---------------+--------------------------------------------------------+
    | development   | false

[2016-03-03 21:33] rafcabezas commented on #72
Started getting this error myself too. Something must have changed on the backend.

[2016-03-03 21:59] raven commented on #72
+1

[2016-03-03 22:07] mfurtak commented on #72
It looks like the developer portal itself is having a bit of trouble right now.

![screenshot 2016-03-03 13 58 17](https://cloud.githubusercontent.com/assets/343134/13511209/5220b61a-e162-11e5-962b-1dc0dd9029a0.png)

Let's see where we stand after they sort things out :+1:

[2016-03-03 22:18] raven commented on #72
cert is able to create the certificate on the portal as I can see them appearing in the portal, but then can't fetch it.

[2016-03-03 22:18] eugeneshih commented on #72
+1

[2016-03-03 22:22] mfurtak commented on #72
We've also seen the portal itself return this message during normal web-only interactions with certificates (as shown above), so something is definitely in flux.

We're on the case, and will give you updates ASAP. :+1:

[2016-03-03 22:24] raven commented on #72
You're awesome 🤘

[2016-03-03 22:29] Allansk2 commented on #72
+1

[2016-03-03 22:34] kikolobo commented on #72
+1 Here... I've thought it was related to this:
https://developer.apple.com/support/certificates/expiration/

But it appears it isn't..
Hope to get a solution soon!

[2016-03-03 22:43] zeroelink commented on #72
+1

[2016-03-03 23:12] KrauseFx commented on #72
Sorry everyone, we already pushed a new version of spaceship: https://github.com/fastlane/spaceship/releases/tag/0.22.0. Please update using `sudo gem update spaceship` and let us know if that solves the issue :rocket:

[2016-03-03 23:40] mfurtak commented on #72
[`cert` 1.4.0](https://github.com/fastlane/cert/releases/tag/1.4.0) has gone out for this fix as well :tada:

[2016-03-03 23:40] raven commented on #72
Indeed all fixed 🎉

[2016-03-03 23:42] #72 closed

[2016-03-03 23:43] KrauseFx commented on #72
Thanks everyone :+1:

[2016-03-04 00:49] rafcabezas commented on #72
:+1: thanks!

[2016-03-07 19:07] #68 closed

[2016-03-07 19:08] #65 closed

[2016-03-07 19:08] #62 closed

[2016-03-07 19:08] #38 closed

[2016-03-07 19:41] fastlane-bot-helper commented on #32
This issue was migrated to https://github.com/fastlane/fastlane/issues/1811. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 19:41] #32 closed

[2016-03-07 19:41] fastlane-bot-helper commented on #10
This issue was migrated to https://github.com/fastlane/fastlane/issues/1812. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 19:41] #10 closed

[2016-03-08 13:15] false commented on #26
Thanks, it works like a charm now :-)

[2017-03-31 09:08] ShelinShelin opened #76 "Couldn't find an existing certificate... creating a new one"
show that:
Certificate XXXXXXXXX (iOS Development) can't be found on your local computer
Couldn't find an existing certificate... creating a new one

In fact, it existed a certificate in develop center,but can not find it

[2017-03-31 09:11] ShelinShelin commented on #76
#development
fastlane cert create --development -o $FILE_OUTPUT_PATH
#distribution
fastlane cert  -o $FILE_OUTPUT_PATH

[2017-03-31 17:37] KrauseFx commented on #76
Please submit the issue to the fastlane main repo: https://github.com/fastlane/fastlane

[2017-03-31 17:37] #76 closed, assigned to nobody